<div job-details-id="{{ job.id }}">
<fieldset>
	<legend>Descrição da vaga</legend>
	{% if job.company_name %}<h4 style="margin: 3px;">{{ job.company_name }}</h4>{% endif %}
	<p>{{ job.description|removetags:"script link a img input form input select button"|safe }}</p>

	{% if job.contact_email or job.contact_phone %}
	<div>
		{% if job.contact_name %}contato: <b>{{ job.contact_name }}</b> / {% endif %}
		{{ job.contact_email|urlize }}
		{% if job.contact_email and job.contact_phone %} / {% endif %}
		{% if job.contact_phone %}<b>{{ job.contact_phone }}</b>{% endif %}

	</div>
	{% endif %}
</fieldset>

<div id="{{ container }}" style="width: 600px; height: 180px;"> </div>
{% load chartit %}
{{ chart|load_charts:container }}

<table class="my-job-stats" cellpadding="0" cellspacing="0" style="width: 40%;">
	<tr class="stats-row">
		<td class="stats-label">Visualizações hoje</td>
		<td class="stats-value">{{ stats_count_today }}</td>
	</tr>
	<tr class="stats-row">
		<td class="stats-label">Visualizações ontem</td>
		<td class="stats-value">{{ stats_count_yesterday }}</td>
	</tr>
	<tr class="stats-row">
		<td class="stats-label">Visualizações semana passada</td>
		<td class="stats-value">{{ stats_count_last_week }}</td>
	</tr>
	<tr class="stats-row">
		<td class="stats-label">Visualizações mês passado</td>
		<td class="stats-value">{{ stats_count_last_month }}</td>
	</tr>
	<tr class="stats-row">
		<td class="stats-label">Total de visualizações</td>
		<td class="stats-value">{{ stats_count_total }}</td>
	</tr>
</table>
	
</div>