<div job-details-id="{{ job.id }}">
<fieldset>
	<legend>Descrição da vaga</legend>
	{% if job.company_name %}<h4 style="margin: 3px;">{{ job.company_name }}</h4>{% endif %}
	<p>{{ job.description|removetags:"script link a img input form input select button"|safe }}</p>

	{% if job.contact_email or job.contact_phone %}
	<div>
		{% if job.contact_name %}contato: <b>{{ job.contact_name }}</b> / {% endif %}
		{{ job.contact_email|urlize }}
		{% if job.contact_email and job.contact_phone %} / {% endif %}
		{% if job.contact_phone %}<b>{{ job.contact_phone }}</b>{% endif %}

	</div>
	{% endif %}
</fieldset>
</div>