{% extends "jobs/partial/job-item.html" %}
{% block jobs_classes %}my-job {% if job.is_editable %}job-editable{% endif %}{% endblock %}
{% block approved%}
	{% if not job.admin_approved %}
		<span class="label label-warning">pendente de aprovação</span>
	{% endif %}
	{% if not job.contact_email_verified %}
		<!--span class="label label-warning">email não verificado</span-->
	{% endif %}
{% endblock %}
{% block jobs_buttons %}
<div style="position: absolute; bottom: 5px; right: 5px;">
	<a alt="estatísticas" title="estatísticas" class="job-action-button btn btn-small btn-primary" href="{% url 'my_jobs_individualstats' job.id %}">estatísticas</a>
	{% if job.is_editable %}<a alt="edição" title="editar" class="job-action-button job-edit btn btn-small btn-success" href="{% url 'my_jobs_edit' job.id %}">editar</a>{% endif %}
	<a href="{% url 'my_jobs_confirm_del' job.id %}" class="job-action-button btn btn-small btn-danger">excluir</a>
</div>
{% endblock %}
