{% extends "_base.html" %}
{% load cache %}
{% block title %}Minhas vagas{% endblock %}
{% block extra_head %}
	<link href="{{ STATIC_URL }}css/jobs.css" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="search-wrapper">
		<!-- left column -->
		<div class="content-left">

			<div class="content-header-aligner">
				<h2>Buscar minhas vagas</h2>
			</div>
			
			<!-- filters -->
			{#% cache 300 jobs_search_filters user.username %#}
			{% include "my-jobs/_filters.html" %}
			{#% endcache %#}
			<!-- /filters -->
		</div>
		
		<!-- right column -->
		<div class="content-right">
			
			<!-- search input -->
			<div class="content-header-aligner">
				<input class="search-field" type="text" id="search-jobs" name="search-jobs" /><input id="btn-search" type="button" class="btn btn-info" value="buscar" />	
			</div>
			
			<!-- search result -->
			<div class="loading-search" id="jobs-loading-img">
				<img src="{{ STATIC_URL }}img/ajax-loader-small.gif" alt="requisitando..." align="absmiddle" />
				buscando
			</div>
			<div class="partial-container" id="jobs"></div>
			<div class="loading-more" id="jobs-loading">
				<img src="{{ STATIC_URL }}img/ajax-loader.gif" />
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(function(){
			
			var q = $("#search-jobs").val();
			
			$("#filter-period-all").change(function(){
				checked = $(this).attr("checked");
				if (checked)
				{
					$("#period-days").attr("disabled", "disabled");
					period_days = -1;
				}
				else
				{
					$("#period-days").removeAttr("disabled");
					period_days = $("#period-days").val();
				}
			});
			
			// load content and toggle visiblity
			$(".job-show-details").live('click', function(){
			
				jobId = $(this).attr("job-id");
				
				var req = $.ajax({
					url: '/minhas-vagas/parcial/detalhar/' + jobId + '/' + q + '/',
					type: 'get',
					complete: function()
					{
						
					},
					success: function(data)
					{
						$("#job-details-" + jobId)
							.html(data)
							.show('fast');
						
						$("#job-" + jobId)
							.removeClass("job-show-details")
							.addClass("job-toggle-details");
					}
				});				
			});
			
			// toggle visibility after content is loaded...
			$(".job-toggle-details").live('click', function() {
				id = $(this).attr("job-id");
				$("#job-details-" + id).toggle('fast');
			});
		
			$(".filter-toggler").click(function(){
				
				target = $("#" + $(this).attr("target"));
				
				if (target.is(":visible"))
				{
					$(this).text("◄");
					target.hide();
				}
				else
				{
					$(this).text("▼");
					target.show();
				}
			});
		
			$(".country, .region").change(function(){
				id = $(this).attr("id");
				checked = $(this).attr("checked") ? true : false;
				$("." + id).attr("checked", checked);
			});
		
			$(".segment-item").change(function(){
				checked = $(this).attr("checked") ? true : false;
				$("[job-title-segmentid=" + $(this).val() + "]").attr("checked", checked);
			});
			
			$(".jot-title-item").change(function(){
				segmentId = $(this).attr("job-title-segmentid");
				checked = $(".jot-title-item:checked[job-title-segmentid=" + segmentId + "]").size() > 0;
				$("#segment-" + segmentId).attr("checked", checked);
			});
		
			var page = 1;
			
			// avoid resending the same request twice when page is scrolled all the way down
			var lock = false;
			
			var display_result = function(result)
			{
				$("#jobs-loading-img").hide();
				$("#jobs-loading").hide();
				$("#jobs-search-info").show();
				$("#jobs").html(result);
				page++;
			};
			
			var display_result_append = function(result)
			{
				$("#jobs-loading-img").hide();
				$("#jobs-loading").hide();
				$("#jobs-search-info").show();
				$("#jobs").append(result);
				page++;
				lock = false;
			};
			
			var period_days = $("#period-days").val();
			
			$("#period-days").change(function(){
				period_days = $(this).val();
			});
			
			var send_search = function(callback)
			{
				job_titles = [];
				_locations = [];
				$(".jot-title-item:checked").each(function(){
					job_titles.push($(this).val());
				});
				$(".location-item:checked").each(function(){
					_locations.push($(this).val());
				});
				data = {
					term: q,
					job_titles: job_titles.join("-"),
					locations: _locations.join("-"),
					days: period_days,
					page: page,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				};
				//url = "/minhas-vagas/parcial/buscar/" + q + "/" + job_titles.join("-") + "/" + _locations.join("-") + "/" + period_days + "/" + page + "/";
				$("#jobs-loading-img").show();
				$("#jobs-search-info").hide();
				search('/minhas-vagas/parcial/buscar/', 'post', data, callback);
			};
			
			$(".filter-control").bind('change select', function() { 
				page = 1; 
				send_search(display_result); 
			});
			
			$("#btn-search").click(function(){
				q = $("#search-jobs").val();
				page = 1;
				send_search(display_result);
			});

			$("#search-jobs").keyup(function(e){
				code = e.which ? e.which : e.keyCode;
				q = $(this).val();
				if (code == 13)
				{
					page = 1;
					send_search(display_result);
				}
			});

			$(window).scroll(function(){
				if(!lock && $(window).scrollTop() == $(document).height() - $(window).height())
				{
					if ($("#stop_request_on_scroll").size() > 0)
						return;
						
					lock = true;
					$("#jobs-loading").show();
					send_search(display_result_append);
				}
			});
			
			$("#search-jobs").focus();
			
			send_search(display_result); 
		});
	</script>
	
{% endblock %}
