{% extends "_base.html" %}
{% load bbcode %}
{% block title %}Minhas vagas{% endblock %}
{% block extra_head %}
<style type="text/css">
	.job, #jobs-loading
	{
		border: 1px solid #ddd;
		margin-bottom: 10px;
		background: #eee;
		padding: 5px;
		position: relative;
	}
	.job-toggle-activation
	{
		cursor: pointer;
	}
	.job
	{
		color: #888;
		font-size: 95%
	}
	.job p
	{
		white-space: pre-line;
		border: 1px solid #ccc;
		border-left: none;
		border-right: none;
		padding: 10px;
		font-size: 90%;
	}
	.job .job-edit
	{
		position: absolute;
		right: 40px;
		top: 5px;
		font-size: 80%;
	}
	.job .job-del
	{
		position: absolute;
		right: 5px;
		top: 5px;
		font-size: 80%;
	}
	.job h3
	{
		margin-top: 0;
	}
	.job-published
	{
		background-color: #e2ece2;
		color: #333;
	}
</style>
{% endblock %}

{% block body %}
	<h1 style="position: relative; margin-bottom: 10px;">
		Minhas vagas
		<a href="/minhas-vagas/criar/">
			<img style="position: absolute; right: 0px; bottom: 0" src="{{ STATIC_URL }}img/add-icon.png" 
				alt="" 
				title="criar nova vaga" />
		</a>
	</h1>
	
	<div style="margin-bottom: 20px; margin-top: 0;">
		<input type="text" id="search-jobs" name="search-jobs" style="line-height: 32px; height: 32px; width: 60%; margin-right: 0;" /><input id="btn-search" style="border: 0; width: 15%;" type="button" class="btn btn-info" value="buscar" />
	</div>
	
	<div class="partial-container" id="jobs">
		<img id="jobs-loading-img" src="{{ STATIC_URL }}img/ajax-loader-small.gif" alt="requisitando..." align="absmiddle" />	
	</div>
	
	<div id="jobs-loading" style="display: none; text-align: center;">
		<img src="{{ STATIC_URL }}img/ajax-loader.gif" />
	</div>
	
	<script type="text/javascript">
		$(function(){

			var lastId = function()
			{
				return lastEntityLoadedId(".job", "job-id");
			}
			
			var search_url = function(page, term)
			{
				return '/minhas-vagas/parcial/buscar/' + page + '/' + term ;
			};
			
			var display_result = function(result)
			{
				$("#jobs-loading-img").hide();
				$("#jobs").html(result);
			};
			
			var display_result_append = function(result)
			{
				$("#jobs-loading-img").hide();
				$("#jobs").append(result);
			};
			
			var q = $("#search-jobs").val();
			
			search(search_url(0, q), display_result);
			
			$("#search-jobs").keyup(function(e){
				code = e.which ? e.which : e.keyCode;
				q = $(this).val();
				if (code == 13)
				{
					$("#jobs-loading-img").show();
					search(search_url(0, q), display_result);
				}
			});

			$(window).scroll(function(){
				if($(window).scrollTop() == $(document).height() - $(window).height())
				{
					if ($("#stop_request_on_scroll").size() > 0)
						return;
					
					search(search_url(lastId(), q), display_result_append);
				}
			});
			
			$("#search-jobs").focus();
		});
	</script>
	
{% endblock %}