{% extends "_base.html" %}
{% load bbcode %}
{% load chartit %}
{% block title %}Estatísticas das Minhas Vagas{% endblock %}
{% block body %}

<h1>Estatísticas</h1>

<p><b>{% if job.is_editable %}<a href="{% url my_jobs_edit job.id %}">{% endif %}{{ job.job_title }} ({{ job.job_title.segment.name }}){% if job.is_editable %}</a>{% endif %}</b> - {{ job.city.full_name }} - publicada em <b>{{ job.creation_date }}</b>.</p>

<hr style="border: 0; height: 1px; background: #ccc; margin: 20px; clear: both;" />

<table class="stats-element stats-element-left" cellpadding="0" cellspacing="0">
	<tr class="stats-row">
		<td class="stats-label">Visualizações hoje</td>
		<td class="stats-value">{{ stats_count_today }}</td>
	</tr>
	<tr class="stats-row">
		<td class="stats-label">Visualizações ontem</td>
		<td class="stats-value">{{ stats_count_yesterday }}</td>
	</tr>
	<tr class="stats-row">
		<td class="stats-label">Visualizações nesta semana</td>
		<td class="stats-value">{{ stats_count_current_week }}</td>
	</tr>
	<tr class="stats-row">
		<td class="stats-label">Visualizações neste mês</td>
		<td class="stats-value">{{ stats_count_current_month }}</td>
	</tr>
	<tr class="stats-row">
		<td class="stats-label">Total de visualizações</td>
		<td class="stats-value">{{ stats_count_total }}</td>
	</tr>
</table>

{% if chart_chart %}
<div id="chart" class="stats-element-chart stats-element stats-element-right"> </div>
<br style="clear: both;" />
{% endif %}

{% if chart_chart_all %}
<div id="chart_all" class="stats-element-chart" style="margin-top: 20px;"> </div>
{% endif %}

{{ charts|load_charts:"chart,chart_all" }}

<br style="clear: both;" />

{% endblock %}