{% extends "_base.html" %}
{% load bbcode %}
{% load chartit %}
{% block title %}Estatísticas das Minhas Vagas{% endblock %}

{% block extra_head %}
<style>
	.stats
	{
		width: 48%;
	}
	#chart
	{
		height: 250px;
	}
	.stats-row td
	{
		border-bottom: 1px solid #ddd;
		padding: 20px 0 20px 0;
	}
	.stats-label
	{

	}
	.stats-value
	{
		text-align: right;
	}
	.filter-wrapper
	{
		border: 1px solid #ccc;
		padding: 10px;
		margin-right: 10px;
		float: left;
	}
</style>



{% endblock %}

{% block body %}
	<h1>Estatísticas das Minhas Vagas</h1>


	<div style="overflow: auto; border: 0px solid #333; padding: 0px;">

		<div id="filter-segments" class="filter-wrapper">
			{% for segment in segments %}
				<input type="checkbox" value="{{ segment.id }}" id="segment-{{ segment.id }}" /> <label for="segment-{{ segment.id }}">{{ segment.name }}</label> <br />
			{% endfor %}
		</div>

		<div id="filter-job_titles" class="filter-wrapper">
			{% for job_title in job_titles %}
				<input type="checkbox" value="{{ job_title.id }}" segment-id="segment-{{ segment.id }}" id="job_title-{{ job_title.id }}" /> <label for="job_title-{{ job_title.id }}">{{ job_title.name }}</label> <br />
			{% endfor %}
		</div>

		<div id="filter-jobs" class="filter-wrapper">
			{% for job in jobs %}
				<input type="checkbox" value="{{ job.id }}" id="job-{{ job.id }}" /> <label for="job-{{ job.id }}">{{ job }}</label> <br />
			{% endfor %}
		</div>

	</div>


	{{ charts|load_charts:"chart1, chart2" }}
	<div id="chart1"></div>
	<div id="chart2"></div>

	<div id="container"></div>

	<script type="text/javascript">

		categories = [{% for stat in stats %}'{{ stat.access_datetime|date:"Y/m/d" }}'{% if not forloop.last %},{% endif %}{% endfor %}]

	//	alert(x);

		$(function () {
        $('#container').highcharts({
            chart: {
                type: 'spline',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Monthly Average Temperature',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Tokyo',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }, {
                name: 'New York',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            }, {
                name: 'Berlin',
                data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
            }, {
                name: 'London',
                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
            }]
        });
    });
	</script>


<br style="clear: both;" />

{% endblock %}