#ajax-request
{
	width: 100%;
	height: 100%;
	position: fixed;
	background: #000;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin: 0;
	text-align: center;
	z-index: 999999;
	display: none;
}

#ajax-request div
{
	margin: 25% auto;
}

#ajax-request-cancel
{
	cursor: pointer;
}