
body
{
	font-family: Arial, Sans-Serif;
	font-size: 90%;
	color: #555;
	background: url('../img/body-bg.png');
	margin: 0;
	text-align: center;
}

img
{
	border: 0;
}

#wrapper
{
	width: 90%;
	margin: 30px auto;
	text-align: left;
	position: relative;
	padding-top: 50px;
}

#logo
{
	position: absolute;
	left: 0;
	top: 0;
}

#login
{
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0px solid red;
}

#menu
{
	position: absolute;
	right: 0;
	top: 25px;
}

#menu a, #login a
{
	color: #999;
	text-decoration: none;
	margin-left: 20px;
}

#menu a:hover, #login a:hover
{
	color: #333;
}

#content
{
	margin: 10px;
}

.search-form
{
	
	
	padding: 20px;
	border-bottom: 1px dotted #ccc;
}

.search-form label
{
	margin-left: 20px;
	font-weight: bold;
}

.search-form input[type=text]
{
	padding: 7px;
	color: #333;
	font-size: 120%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #999;
}

.search-form label:first-child
{
	margin-left: 0;
}

.job-search-result-column
{
	float: left; 
	overflow: auto; 
	width: 33%;
}

.job-search-result
{
	float: left;
	padding: 10px;
	border: 1px dotted #333;
	margin: 10px 10px 10px 10px;
	font-size: 90%;
	position: relative;
	background: #f6f6f6;
	cursor: default;
}

.job-search-result:hover
{
	background: #fff;
}

.job-search-resul .published-at
{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 80%;
}


#ajax-request
{
	width: 100%;
	height: 100%;
	position: fixed;
	background: #000;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin: 0;
	text-align: center;
	z-index: 999999;
	display: none;
}

#ajax-request div
{
	margin: 25% auto;
}

#ajax-request-cancel
{
	cursor: pointer;
}

form.form
{
	
}

form.form label
{
	display: block;
	cursor: pointer;
	font-weight: bold;
}
form.form input
{
	display: block;
	width: 97%;
}
form.form input
{
	padding: 5px;
	font-size: 120%;
	border: 1px solid #ccc;
}
form .form-block
{
	margin-bottom: 25px;
}
form .button-container
{
	margin-top: 0px;
	margin-bottom: 0;
	text-align: right;
}

form .button-container input
{
	width: 100px;
	display: inline;
	padding: 5px;
	font-size: 100%;
	cursor: pointer;
}

form.form label.error
{
	color: red;
	font-size: 75%;
	font-weight: normal;
	position: absolute;
}

