body
{
	margin: 95px 0 0 0;
	background: #eee;
}

#logo
{
	position: absolute;
	top: 10px;
	left: 10px;
}

#header
{
	position: fixed;
	background: #fff;
	background: #ebec95;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0.95;
	filter: alpha(opacity=95);
	z-index: 999;
}

#menu
{
	text-align: right;
	border-bottom: 1px dotted #333;
	overflow: auto;
}

#menu a
{
	color: #555;
	padding: 40px 20px 5px 20px;
	text-decoration: none;
	text-transform: lowercase;
	display: block;
	float: right;
	border: 1px dotted transparent;
	border-bottom: 0;
	border-top: 0;
}

#menu a:hover
{
	color: #000;
	background: #eee;
	border-color: #ddd;
}

#content
{
	margin: 0px 10% 10px 10%;
}

.search-form
{
	position: fixed;
	top: 61px;
	z-index: 10;
	background: #fff;
	background: #ebec95;
	border: 1px dotted #333;
	border-top: 0;
	padding: 10px;
}

.search-form label
{
	margin-left: 20px;
}

.search-form label:first-child
{
	margin-left: 0;
}