body
{
	margin: 95px 0 0 0;
	background: #fff;
}

#logo
{
	position: absolute;
	top: 10px;
	left: 10px;
}

#header
{
	position: fixed;
	background: #fff;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 999;
}

#menu
{
	text-align: right;
	border-bottom: 1px dotted #ccc;
	overflow: auto;
}

#menu a
{
	color: #555;
	padding: 40px 20px 5px 20px;
	text-decoration: none;
	text-transform: lowercase;
	display: block;
	float: right;
	border-bottom: 0;
	border-top: 0;
}

#menu a:hover
{
	color: #000;
	background: #fefefe;
}

#content
{
	margin: 10px;
}

.search-form
{
	position: fixed;
	top: 61px;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 10px;
	background: #fff;
	border-bottom: 1px dotted #ccc;
}

.search-form label
{
	margin-left: 20px;
}

.search-form label:first-child
{
	margin-left: 0;
}

.job-search-result-column
{
	float: left; 
	overflow: auto; 
	width: 33%;
}

.job-search-result
{
	float: left;
	padding: 10px;
	border: 1px dotted #333;
	margin: 10px 10px 10px 10px;
	font-size: 90%;
	position: relative;
	background: #f6f6f6;
}

.job-search-resul .published-at
{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 80%;
}