body
{
	margin: 95px 0 0 0;
	background: #fff;
}

img
{
	border: 0;
}

#header
{
	position: fixed;
	background: #eee;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 999;
	
}
#login
{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 999;
}

#menu
{
	background: #efefef;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	padding: 5px;
}

#menu a
{
	color: #999;
	text-decoration: none;
	font-weight: bold;
	margin: 6px 80px 0 0;
	display: block;
	float: left;
	
}

#menu .menu-logo-link
{
	margin-top: 0;
	margin-left: 20px;
}

#menu a:hover
{
	color: #333;
}

#content
{
	margin: 10px;
}

.search-form
{
	position: fixed;
	background: #ccc;
	top: 38px;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 10px;
	border-bottom: 1px dotted #ccc;
}

.search-form label
{
	margin-left: 20px;
}

.search-form label:first-child
{
	margin-left: 0;
}

.job-search-result-column
{
	float: left; 
	overflow: auto; 
	width: 33%;
}

.job-search-result
{
	float: left;
	padding: 10px;
	border: 1px dotted #333;
	margin: 10px 10px 10px 10px;
	font-size: 90%;
	position: relative;
	background: #f6f6f6;
}

.job-search-resul .published-at
{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 80%;
}