{% extends "_base.html" %}

{% block title %}Email já cadastrado{% endblock %}

{% block body %}
	<h1>Email já cadastrado</h1>
	<p>
		O email <b>{{ email }}</b> -- cadastrado com sua conta do LinkedIn -- já está em uso por outro usuário do Colabre!
	</p>
	<p>
		Se foi você mesmo quem cadastrou uma conta com esse email no Colabre, <a href="{% url 'my_profile_retrieve_access' %}">solicite a recuperação de acesso</a>.
		Agora, se outra pessoa cadastrou uma conta com esse email por engano, a conta será excluída se não tiver o email verificado em até 48 horas.
	</p>
	<p>
		Obrigado,
		<img src="{{ STATIC_URL }}img/logo2.png" alt="logo" style="float: right;" />
	</p>
	<p>
		Equipe Colabre.org
	</p>
{% endblock body %}
