{% extends "_base.html" %}

{% block title %}Obrigado por se cadastrar{% endblock %}

{% block body %}

	<h1>Cadastro</h1>
	
	<p>
		<b>{{ user.first_name }}</b>, muito obrigado por ter se cadastrado no Colabre!
	</p>
	<p>
		Em poucos instantes, você receberá um email para que possamos confirmar a validade do seu email. 
		Dessa forma, você poderá nos dizer quais os serviços que melhor se adequam aos seus interesses para que possamos lhe ajudar da melhor maneira.
		<br />
		Se tiver problemas para receber nosso email para confirmação de email, acesse <a href="{% url 'my_profile_index' %}">seu perfil</a> e solicite o reenvio do email.
	</p>
	<p>
		Obrigado,
		<img src="{{ STATIC_URL }}img/logo2.png" alt="logo" style="float: right;" />
	</p>
	<p>
		Equipe Colabre.org
	</p>

{% endblock body %}
