<div job-details-id="{{ job.id }}">

	<dl class="dl-horizontal">
		{% if job.company %}
		<dt>Empresa</dt>
		<dd>{{ job.company.name }}</dd>
		{% endif %}
		<hr />
		<dt>Descrição</dt>
		<dd class="description">{{ job.description|removetags:"script link a img input form input select button"|safe }}</dd>
		<hr />
		{% if job.address %}
		<dt>Endereço</dt>
		<dd>{{ job.address }}</dd>
		{% endif %}

		<dt>Contato</dt>
		<dd>{{ job.contact_name }}</dd>

		{% if job.contact_phone and False %}
		<dt>Telefone</dt>
		<dd>{{ job.contact_phone }}</dd>
		{% endif %}
		{% block extra_fields %}{% endblock %}
	</dl>
	
	{% block contact_btn %}
	<a class="goto-contact-form btn-primary btn btn-mini" href="{% url 'jobs_apply' job.id %}" target="_blank" title="Abre uma nova janela/aba">
		<i class="icon-envelope icon-white"></i>
	</a>
	{% endblock %}
{% block view_count %}
{% if not job_view_count == 0 and False %}
<p class="job_view_count job-view-count" job-details-views-id="{{ job.id }}">
	<i>carregando número de visualizações...</i>
</p>
{% endif %}
{% endblock %}
</div>
{% if not user.is_superuser %}
<!-- analytics job details -->
<script type="text/javascript">
	_gaq.push(['_trackPageview', '/vagas/parcial/detalhar/{{ job.id }}/{{ q }}']);
</script>
{% endif %}