<div job-details-id="{{ job.id }}">
<fieldset>
	<legend>Descrição da vaga</legend>
	{% if job.company_name %}<h4 style="margin: 3px;">{{ job.company_name }}</h4>{% endif %}
	<p>{{ job.description|removetags:"script link a img input form input select button"|safe }}</p>
	
	{% if job.contact_email or job.contact_phone %}
	<div>
		{% if job.contact_name %}contato: <b>{{ job.contact_name }}</b> / {% endif %}
		{{ job.contact_email|urlize }}
		{% if job.contact_email and job.contact_phone %} / {% endif %}
		{% if job.contact_phone %}<b>{{ job.contact_phone }}</b>{% endif %}
		
	</div>
	{% endif %}
</fieldset>
<p style="padding: 0; margin: 0;">
	Esta vaga já foi vista <b>{{ job_view_count }}</b> vez(es).
</p>
<div id="chart{{ job.id }}" style="display: none; height: 300px;"> </div>
</div>
<script type="text/javascript">
	var load_chart{{job.id}} = function()
	{
		var line1=[1, 3, 4, 5, 6];
		var ticks=['A', 'B', 'C', 'D', 'E'];
		$.jqplot('chart{{ job.id }}', [line1], 
		{
			title:'Customized Date Axis', 
			axes : {
				xaxis : {
					renderer: $.jqplot.CategoryAxisRenderer, 
					//tickOptions:{formatString:'%b %#d, %y'},
					//min:'May 30, 2008', 
					//tickInterval:'1 month'
					ticks : ticks
    			}
  			},
  			series:[ { lineWidth: 2 , markerOptions : { style : 'square' } } ]
  		});
	};
</script>