{% if page = "1" %}
	<div class="text-center is-padded10" id="search-search-info">
		{% if q %}
		<strong>{{ total_jobs }}</strong> vagas encontradas para o termo '<strong>{{ q }}</strong>'.
		{% else %}
		<strong>{{ total_jobs }}</strong> vagas encontradas.
		{% endif %}
	</div>
{% endif %}
{% for job in jobs %}
{% block loop %}
	{% include 'jobs/partial/job-item.html' %}
{% endblock %}
{% empty %}
	{% if is_last_page %}
	<!-- signal to stop sending requests -->
	<div id="stop_request_on_scroll" style="display: none;" />
	{% endif %}
{% endfor %}

{% if not user.is_superuser %}
<!-- analytics -->
<script type="text/javascript">
  	var _gaq = _gaq || [];
  	var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
	_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
	_gaq.push(['_setAccount', 'UA-40657408-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
{% endif %}