.hero-unit
{
	background-color: transparent !important;
}

@media (max-width: 980px)
{
	h1
	{
		font-size: 25px !important;
	}
	.search-title
	{
		margin-top: -20px;	
	}
	
	#footer-social
	{
		display: none;
	}
	
	.dl-horizontal dd.description
	{
		white-space: pre-wrap;
	}
	.btn-search
	{
		width: 30% !important;
	}
	
	.hero-unit
	{
		padding: 0px !important;
		text-align: center !important;
	}
	.hero-unit h1
	{
		font-size: 30px !important;
	}
}

@media (min-width: 981px)
{
	body
	{
		padding-top: 70px;
		background-image: url('../img/body-bg.png');
	}
	.hero-unit
	{
		padding: 20px 60px 60px 60px !important;
		text-align: left !important;
	}
	.hero-unit h1
	{
		font-size: 60px !important;
	}
	.btn-search
	{
		width: 28% !important;
	}
	.dl-horizontal dd.description
	{
		padding-right: 20px;
	}
	.search-title
	{
		margin: 10px 0 20px 0;	
	}
	.feature h3
	{
		text-align: center;
	}
	.navbar .nav > li > a
	{
		padding: 20px;
	}

	ul.nav li.menu-main a
	{
		padding-left: 25px;
		padding-right: 25px;
		font-size: 150%;
	}
	#footer-social
	{
		display: block;
	}
}
ul.nav li.menu-main a
{
	color: #4672c1;
	font-weight: bold;
}
.navbar .divider-vertical
{
	height: 60px;
}
.navbar .shrunken-menu
{
	margin-top: 15px;
}
.feature h3
{
	margin-bottom: -10px;
}
.feature img
{
	margin-bottom: -10px;
}

#footer
{
	font-size: 90%;
	text-align: center;
	margin-top: 50px;
}

.required[type=text],
.required[type=password],
textarea.required,
select.required
{
	background: #d6dae2 !important;
	border-color: #888 !important;
}

.form-actions
{
	background-color: transparent;
}

label
{
	font-weight: bold !important;
}

.label-info a
{
	color: #fff !important;
	text-decoration: underline;
}

.search-filter-accordion-group
{
	background-color: #4672c1;
}

.search-filter-accordion-group a
{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.search-filter-accordion-group .accordion-inner
{
	background-color: #eee;
}


.search-filter-accordion-group li
{
	padding: 3px 10px 3px 0;
}

.search-filter-parent
{
	font-weight: bold;
}

.search-filter-node
{
	font-weight: normal;
}
li.search-filter
{
	list-style: none;
}

.search-filter-toggler
{
	background-image: url('/static/img/searchfilter-plus.png');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
	cursor: pointer;
	font-size: 120%;
}

.is-padded5
{
	padding: 5px;
}
.is-padded10
{
	padding: 10px;
}
.is-padded15
{
	padding: 15px;
}
.is-padded20
{
	padding: 20px;
}


.wrapper-expanded
{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	background-color: #fff !important;
}

.wrapper-expanded:hover
{
	/*background-color: #e9ebef !important;*/
}

.wrapper-contracted
{
	margin-top: -1px;
	margin-bottom: -1px;
}

.wrapper-expanded-first-element
{
	margin-top: 0 !important;
}

/*
.dl-horizontal dt
{
	width: 100px;	
}

.dl-horizontal dd
{
	margin-left: 120px;
}
*/

.loading-more
{
	display: none;
}


ul.countries, ul.regions, ul.segments, ul.cities, ul.jobtitles
{
	margin: 0 0 0 10px !important;
}
ul.cities, ul.jobtitles
{
	margin-top: 5px !important;
	margin-bottom: -5px !important;
}

#search-filters span
{
	text-overflow: ellipsis;
    display: inline-block;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

#search-filters li div
{
	position: relative;
}

#search-filters li div a.checkable
{
	position: absolute;
	right: 0;
	top: -5px;
}

.search-filter-node label
{
	font-weight: normal !important;
}