body
{
	margin-top: 60px;
}

input[type=radio]
{
	background-color: transparent;
}

.content-header-aligner
{
	position: relative;	
}
.content-header-aligner .search-field
{
	height: 30px;
}
.content-header-aligner .btn
{
	height: 39px;
	position: absolute;
	top: 10px;
}



