body 
{
	padding-top: 0;
}

.inst-menu
{
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.inst-menu-links
{
	margin-top: 10px;
}

@media (max-width: 610px)
{
	
}

@media (max-width: 480px)
{
	.inst-menu
	{
		margin-bottom: 20px;
	}
	.inst-menu-links
	{
		margin-top: 15px;
	}			
}