.resume-details
{
	display: none;
}
.resume
{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #eee;
	margin-bottom: 0;
	padding: 5px;
	padding-bottom: 25px;
	position: relative;
	font-size: 100%;
	position: relative;
}
.resume-first-child
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	

	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

}
.resume-last-child
{
	border-bottom: 1px solid #ddd;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.resume-single
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 1px solid #ddd;
}

.resume:hover
{
	background-color: #fff;
	/*cursor: pointer;*/
}
.my-resume:hover
{
}
.resume h3
{
	margin-top: 5px;
}
.resume p
{
	white-space: pre-line;
	padding: 10px;
	font-size: 90%;
}
.resume fieldset
{
	border: 1px solid #ccc;
}
.resume .resume-date
{
	font-size: small;
	position: absolute;
	top: 5px;
	right: 5px;
}
.resume-wrapper-details
{
	
}
.resume-del, .resume-edit
{
	position: absolute;
	bottom: 0px;
	right: 2px;	
	z-index: 10;
}
.resume-del
{
	right: 5px;	
}
.resume-edit
{
	right: 40px;	
}
.resume-editable
{
	background-color: #eee;
}
.my-resume
{
	padding-bottom: 35px;
}

.resume .profile-name
{
	text-align: right;
	padding: 10px;
}
.resume .profile-name a
{
	cursor: pointer;
}
.resume .profile-name a:hover
{
	cursor: pointer;
	text-decoration: underline;
}

div.contact-form-wrapper
{
	display: none;
	padding: 0;
	height: 370px;
}
iframe.contact-form
{
	width: 100%;
	border: 0;
	height: 100%;
}