{% extends "_base.html" %}
{% load cache %}
{% block title %}Busca de Currículos{% endblock %}
{% block extra_head %}
	<link href="{{ STATIC_URL }}css/resumes.css" rel="stylesheet" />
{% endblock %}

{% block body %}

<h1 class="search-title text-center">Buscar Currículos</h1>

<div class="row">
	<div class="span4">
		<!-- filters -->
		{% block filter %}
		{#% cache 600 jobs_search_filters %#}
		{% include "resumes/_filters.html" %}
		{#% endcache %#}
		{% endblock %}
		<!-- /filters -->
	</div>
	<div class="span8">
		<div class="input-append" style="width: 100% !important;">
			<input type="text" class="span6" id="search-term" style="width: 70% !important;">
			<button id="btn-search" type="button" class="btn btn-search">Buscar</button>
		</div>
		
		<!-- content -->
		<div id="search-wrapper">

			<!-- search result -->
			<div class="loading-search text-center is-padded10" id="search-loading-img">
				<img src="{{ STATIC_URL }}img/ajax-loader-small.gif" alt="requisitando..." align="absmiddle" />
				buscando...
			</div>
			<div class="partial-container" id="search-result"></div>
			<div class="text-center is-padded20 loading-more" id="search-loading">
				<img src="{{ STATIC_URL }}img/ajax-loader.gif" />
			</div>
			
		</div>
		<!-- /content -->
	</div>
</div>

<script type="text/javascript">
{% block jscript %}
{% include "resumes/index.js" %}
{% endblock %}
</script>
{% endblock %}

{% block footer %}
{% include "_footer-simple.html" %}
{% endblock footer %}