{% extends "_base.html" %}
{% load bbcode %}
{% load chartit %}
{% block title %}Estatísticas de Vagas{% endblock %}
{% block body %}

<h1>Estatísticas</h1>

<div class="is-padded20">
	<p><strong><a href="{% url 'my_jobs_edit' job.id %}">{{ job.job_title }} ({{ job.job_title.segment.name }})</a></strong> - {{ job.city.full_name }} - publicada em <strong>{{ job.creation_date }}</strong>.</p>
</div>

<div class="row">
	<div class="span3">
		<table class="table">
			<tr class="stats-row">
				<td class="stats-label">Visualizaçõees hoje</td>
				<td class="stats-value">{{ stats_count_today }}</td>
			</tr>
			<tr class="stats-row">
				<td class="stats-label">Visualizações ontem</td>
				<td class="stats-value">{{ stats_count_yesterday }}</td>
			</tr>
			<tr class="stats-row">
				<td class="stats-label">Visualizações nesta semana</td>
				<td class="stats-value">{{ stats_count_current_week }}</td>
			</tr>
			<tr class="stats-row">
				<td class="stats-label">Visualizações neste mâs</td>
				<td class="stats-value">{{ stats_count_current_month }}</td>
			</tr>
			<tr class="stats-row">
				<td class="stats-label">Total de visualizações</td>
				<td class="stats-value">{{ stats_count_total }}</td>
			</tr>
		</table>
	</div>
	<div class="span9">
		{% if chart_chart %}
		<div id="chart"></div>
		{% else %}
		<div class="alert alert-block alert-warning">
			Ainda não há dados suficientes para mostrarmos o gráfico com 
			os termos de busca que mais levaram a esta vaga.
		</div>
		{% endif %}
	</div>
</div>

<div class="row">
	{% if chart_chart_jobtitle and chart_chart_segment %}
	<div class="span6">
		{% if chart_chart_jobtitle %}
		<div id="chart_jobtitle"></div>
		{% endif %}
	</div>
	<div class="span6">
		{% if chart_chart_segment %}
		<div id="chart_segment"></div>
		{% endif %}
	</div>
	{% elif chart_chart_jobtitle or chart_chart_segment %}
	<div class="span12">
		{% if chart_chart_jobtitle %}
		<div id="chart_jobtitle"></div>
		<div id="chart_segment" style="display: none;"></div>
		{% elif chart_chart_segment %}
		<div id="chart_segment"></div>
		<div id="chart_jobtitle" style="display: none;"></div>
		{% endif %}
	</div>
	{% else %}
	<div id="chart_jobtitle" style="display: none;"></div>
	<div id="chart_segment" style="display: none;"></div>
	{% endif %}
</div>

{{ charts|load_charts:"chart,chart_segment,chart_jobtitle" }}

{% endblock %}

{% block footer %}
{% include "_footer.html" %}
{% endblock footer %}