.checkable
{
	height: 30px;
	width: 30px;
	display: inline-block;
	cursor: pointer;
	background: url('custom-checkables.png') top left no-repeat;
	margin-bottom: -10px;
}
.checkable-checkbox
{
	background-position: 0 0;
}
.checkable-checkbox-checked
{
	background-position: 0 -60px;
}
.checkable-radio
{
	background-position: 0 -120px;
}
.checkable-radio-checked
{
	background-position: 0 -180px;
}

.checkable-checkbox:focus
{
	background-position: 0 -30px;
}
.checkable-radio:focus
{
	background-position: 0 -150px;
}