{% extends "_base.html" %}
{% load bbcode %}
{% block title %}Meu Currículo{% endblock %}
{% block body %}
	<h1>Meu Currículo</h1>

	<form action="{% url my_resume_index %}" method="post">
		{% csrf_token %}
		{% include '_form.html' %}
		<input type="submit" value="salvar" class="btn-info" />
	</form>

	<script type="text/javascript">
	$(document).ready(function() {

		$("#id_segment_name").autocomplete({
				minLength: 1,
				source: function(request, response)
				{
					var term = request.term;
					$.ajax({
						url: '/auxiliares/parcial/buscar-segmento/' + term,
						type: 'get',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});

		$("textarea.bbcode").sceditorBBCodePlugin({
			style: "{{ STATIC_URL }}sceditor/jquery.sceditor.default.min.css",
			toolbar: "bold,italic,underline|size|left,center,right,justify|source",
			locale: "pt-BR"
		});
	});
	</script>
{% endblock %}