{% extends "_base.html" %}
{% load bbcode %}
{% block title %}Meu Currículo{% endblock %}
{% block body %}
	<h1>Meu Currículo</h1>

	<form action="{% url my_resume_index %}" method="post">
		{% csrf_token %}
		{% include '_form.html' %}
		<input type="submit" value="salvar" class="btn-info" /> 
		
		<div>
			<input type="text" name="segment" />
			<input type="text" name="segment" />
			<input type="text" name="segment" />
		</div>
	</form>
	
	<script type="text/javascript">
	$(document).ready(function() {
		$("textarea.bbcode").sceditorBBCodePlugin({
			style: "{{ STATIC_URL }}sceditor/jquery.sceditor.default.min.css",
			toolbar: "bold,italic,underline|size|left,center,right,justify|source",
			locale: "pt-BR"
		});
	});
	</script>
{% endblock %}