{% extends "_base.html" %}
{% load bbcode %}
{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}sceditor/themes/default.min.css" type="text/css" media="all" />
	<style type="text/css">
		#id_full_description
		{
			width: 90% !important;
		}	
	</style>
{% endblock %}
{% block title %}Meu Currículo{% endblock %}
{% block body %}
	<h1>Meu Currículo</h1>
	
	<p><i>Atualização em {{ form.resume.last_update }}.</i></p>

	<form action="{% url 'my_resume_index' %}" class="form-horizontal" method="post">
		{% csrf_token %}
		{% include '_form.html' %}
		<div class="form-actions">
			<button type="submit" class="btn btn-large btn-primary">salvar</button>
		</div>
	</form>
	
	<script type="text/javascript" src="{{ STATIC_URL }}sceditor/jquery.sceditor.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}sceditor/languages/pt-BR.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {

		$("#id_segment_name").typeahead({
				minLength: 1,
				source: function(request, response)
				{
					$.ajax({
						url: '/auxiliares/parcial/buscar-segmento/',
						data : {
							q : request,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						type: 'post',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});

		$("textarea.bbcode").sceditorBBCodePlugin({
			style: "{{ STATIC_URL }}sceditor/jquery.sceditor.default.min.css",
			toolbar: "bold,italic,underline|size|left,center,right,justify|source",
			locale: "pt-BR"
		});
	});
	</script>
{% endblock %}