{% load bbcode %}
{% load url from future %}
{% load newline_to_br %}
<div resume-details-id="{{ resume.id }}">
	<fieldset>
		<legend>Currículo de <b>{{ resume.profile.user.first_name }} {{ resume.profile.user.last_name }}</b></legend>
		{{ resume.full_description|bbcode|newline_to_br|removetags:"script link a img input form input select button textarea"|safe }}
	</fieldset>
	<div class="profile-name">
		<a user-id="{{ resume.profile.user.id }}" class="profile-contact-form contact-form-opener">Entre em contato com <b>{{ resume.profile.user.first_name }} {{ resume.profile.user.last_name }}</b> ◄</a>
	</div>
	<div class="contact-form-wrapper" id="contact-form-{{ resume.profile.user.id }}">
		<iframe frameBorder="0" border="0" src="{% url 'contact' %}?user_id={{ resume.profile.user.id }}&amp;subject=r" class="contact-form"></iframe>
	</div>
</div>