{% load bbcode %}
<div resume-details-id="{{ resume.id }}">
<p>
	{{ resume.full_description|bbcode|removetags:"script link a img input form input select button textarea"|safe }}
</p>
	{% if resume.contact_email or resume.contact_phone %}
	<div>
		{% if resume.contact_name %}contato: <b>{{ resume.contact_name }}</b> / {% endif %}
		{{ resume.contact_email|urlize }}
		{% if resume.contact_email and resume.contact_phone %} / {% endif %}
		{% if resume.contact_phone %}<b>{{ resume.contact_phone }}</b>{% endif %}
		
	</div>
	{% endif %}
</div>