<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Colabre {% block title %}{% endblock %}</title>
	<link href="{{ STATIC_URL }}css/global.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/colabre.js"></script>	
</head>
<body>
	
	<div id="menu">
		<a href="/" title="início" class="menu-logo-link">
			<img src="{{ STATIC_URL }}img/logo-small.png" alt="colabre logo" />
		</a>
		<a href="/vagas/busca">busca de vagas</a>
		<a href="/profissionais/busca">busca de profissionais</a>
	</div>
	
	<div id="login">
		{% if user.is_authenticated %}
		Olá, {{ user.first_name }}. [<a href="/logout">sair</a>]
		{% else %}
		<a href="{{ LOGIN_URL }}">login</a>
		{% endif %}
	</div>
	
	
	
	
	<div id="content">
		 {% block content %}{% endblock %}
	</div>
	
	<div id="ajax-request">
		<div>
			<img src="{{ STATIC_URL }}img/ajax-loader.gif" alt="" />
			<img src="{{ STATIC_URL }}img/ajax-request-cancel.png" id="ajax-request-cancel" alt="" title="cancelar requisição" />
		</div>
	</div>

</body>
</html>
