<!DOCTYPE html />
<!--!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8891-1" />
	<title>Colabre {% block title %}{% endblock %}</title>
	<link href="{{ STATIC_URL }}css/global.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript">
		$(function(){
		
			var ajaxRequest;
			
			$("html").ajaxSend(function(event, jqXHR, ajaxOptions){
				ajaxRequest = jqXHR;
			});
			
			$("html").ajaxError(function(event, jqXHR, ajaxOptions, exception){
				$(".disable-in-request").removeAttr("disabled");
				if(exception != "abort")
				{
					alert(exception);
				}
			});
			
			$("#ajax-request-cancel").click(function(){
				if (ajaxRequest)
					ajaxRequest.abort();
					$(".disable-in-request").removeAttr("disabled");
			});
			
			$("#ajax-request").bind("ajaxSend", function(){
				$(this).show();
				
			}).bind("ajaxComplete", function(){
				$(this).hide();
				$(".disable-in-request").removeAttr("disabled");
			});
		});
	</script>
</head>
<body>
	<div id="header">
		<img id="logo" src="{{ STATIC_URL }}img/logo.png" alt="colabre logo" />
		<div id="menu">
			{% block menu %}{% endblock %}
		</div>
	</div>
	<div id="content">
		 {% block content %}{% endblock %}
	</div>
	
	<div id="ajax-request">
		<div>
			<img src="{{ STATIC_URL }}img/ajax-loader.gif" alt="" />
			<img src="{{ STATIC_URL }}img/ajax-request-cancel.png" id="ajax-request-cancel" alt="" title="cancelar requisição" />
		</div>
	</div>
</body>
</html>