{% extends "_base.html" %}

{% block content %}

	<div class="search-form">
		<input label="palavras chave..." type="text" id="term" class="search-onclick disable-in-request" style="width: 500px;" />
		<input label="localização..." type="text" id="location" class="search-onclick disable-in-request" />
		<input label="publicadas até..." type="text" id="date_from" class="search-onclick disable-in-request" />
		{% csrf_token %}
	</div>
	
	<div id="result-search"><i>Faça sua busca no formulário acima.</i></div>
	
	<script type="text/javascript">
		$(function(){
		
			var search = function()
			{
				$("#result-search").fadeTo(1, .1);
				
				$.ajax({
					url: '/vagas/busca/resultado/',
					type: 'post',
					contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
					data : {
						term : $("#term").val(),
						location : $("#location").val(),
						date_from : $("#date_from").val(),
						csrfmiddlewaretoken : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: function(result)
					{
						$("#result-search").html(result);
						$("#result-search").fadeTo(200, 1);
					}
				});
			};
			
			$('.search-onclick').keydown(function (e){
				if(e.keyCode == 13)
				{
					search();
				}
			});
			
			$("#term").autocomplete({
				source: function(request, response)
				{
					$.ajax({
						url: '/vagas/titulos/sugestoes',
						method: 'get',
						data: {
							termo: $("#term").val()
						},
						success: function(data){
							response($.map(data, function(item) {
								return {
									label: item[0],
									value: item[0]
								};
							}));
						}
					});
				}
			});
		});
	</script>

{% endblock %}
