<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<title>Colabre </title>
	<link href="{{ STATIC_URL }}css/global.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>
	<!--script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script-->
</head>
<body>

<div id="wrapper" style="padding: 0; margin-top: 50px;">

	<div style="text-align: center;">
		<div style="text-align: left; width: 320px; margin: 10px auto; background: #fff; padding: 20px">
			
			<a href="/" title="início">
				<img src="{{ STATIC_URL }}img/logo.png" alt="colabre logo" />
			</a>
		
			{% if not user.is_authenticated %}
			
			<h2>Registre-se</h2>
			<p style="margin-bottom: 20px;">
				É gratuito, rápido e você terá todos os benefícios do melhor lugar do Brasil
				para anunciar e procurar vagas de emprego.
			</p>

			<form action="/registrar/submeter/" method="post" class="form" id="form">
				{% csrf_token %}

				<div class="form-block" style="position: relative;">
					<label for="username">Usuário</label>
					<input type="text" id="username" name="username" required="required" pattern="[a-zA-Z0-9_\-]{3,15}" />
					<input type="hidden" id="username_availability" value="false" />
					<img id="username_info" src="{{ STATIC_URL }}img/form_field-loading.gif" style="position: absolute; right: -10px; top: 22px; display: none;" />
				</div>
				<div class="form-block">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" required="required" />	
				</div>
				<div class="form-block">
					<label for="password">Senha</label>
					<input type="password" id="password" name="password" minlength="6" required="required" />
				</div>
				<div class="form-block">
					<label for="re_password">Confirme a senha</label>
					<input type="password" name="re_password" id="re_password" required="required" data-equals="password" />
				</div>
				<div class="form-block" style="font-size: 80%;">
					Ao clicar em "registrar", você declara que leu e entendeu nossa <a href="#">política de privacidade</a>
					e <a href="#">termos de uso</a>.
				</div>
				<div class="form-block button-container">
					<input type="submit" value="registrar" />
				</div>
			</form>
			<script type="text/javascript">
				$(function(){
				
					$("#username").focus();
					
					$.tools.validator.fn("[data-equals]", "Value not equal with the $1 field", function(input) {
						var name = input.attr("data-equals"),
						field = this.getInputs().filter("[name=" + name + "]");
						return input.val() == field.val() ? true : [name];
					});
					
					$.tools.validator.fn("[minlength]", function(input, value) {
						var min = input.attr("minlength");

						return value.length >= min ? true : {
							en: "Please provide at least " +min+ " character" + (min > 1 ? "s" : ""),
							fi: "Kent&auml;n minimipituus on " +min+ " merkki&auml;"
						};
					});
				
					$.tools.validator.localize("pt-BR", {
					'*'				: 'Por favor, corrija este valor',
					':email'  		: 'Por favor, entre com um email válido',
					':number' 		: 'Por favor, entre com um número válido',
					':url'			: 'Por favor, entre com um endereço válido',
					'[max]'	 		: 'Por favor, entre com um valor menor que $1',
					'[min]'	 		: 'Por favor, entre com um valor maior que $1',
					'[required]' 	: 'Por favor, entre com um valor para este campo'
					});
				
					$("#form").validator({
						lang: 'pt-BR'
					});
				});
			</script>
			{% endif %}
			
			{% if signedup %}
				Muito obrigado por ter se registrado conosco, <b>{{ new_user.first_name }}</b>!<br />
				Acesse seu email para confirmar seu cadastro &dash; isto é necessário para poder
				usufruir de todos os nossos serviços. De qualquer forma, você já está cadastrado e
				pode navegar pelo site.
			{% endif %}
			
		</div>
	</div>
</div>

</body>
</html>
