<div class="job{% if job.published %} job-published{% endif %}" job-id="{{ job.id }}">
	
	<a href="/usuario/vaga/editar/{{ job.id }}" class="job-edit">
		<img src="{{ STATIC_URL }}img/page_white_edit.png" alt="edição" title="editar" />
	</a>
	<a href="/usuario/vaga/confirmar-exclusao/{{ job.id }}" class="job-del">
		<img src="{{ STATIC_URL }}img/delete.png" alt="exclusão" title="excluir" />
	</a>
	
	<div style="margin-bottom: 5px;">
		<a job-id="{{ job.id }}" class="job-toggle-activation">
			<img src="{{ STATIC_URL }}img/{% if job.published %}de{% endif %}activate.png"
				alt="{% if job.published %}des{% endif %}ativar"
				title="{% if job.published %}des{% endif %}ativar"
				valign="middle" /></a>
		<span style="margin-bottom: 5px; font-size: 95%"><i><small>vaga {% if not job.published %} não {% endif %}publicada</small></i></span>
	</div>
	
	<h3><a href="/usuario/vaga/editar/{{ job.id }}">{{ job.title }}</a></h3>
	{% if job.company %}<h4>{{ job.company }}</h4>{% endif %}
	
	<b>Vaga criada em {{ job.creation_date }}</b>
	
	<p>{{ job.description|removetags:"script link a img input form input select button"|safe }}</p>
	
	<table>
		<tr>
			<td class="label">email para contato:</td>
			<td>{{ job.contact_email|urlize }}</td>
		<tr>
		<tr>
			<td class="label">telefone para contato:</td>
			<td>{{ job.contact_phone }}</td>
		<tr>
	</table>
</div>
