<!DOCTYPE html>
<html lang="pt">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Colabre é um serviço gratuíto para busca e divulgação de oportunidades de trabalho e currículos." />
	<title>Colabre | {% block title %}{% endblock title %}</title>
	
	<meta property="og:title" content="Colabre" />
	<meta property="og:description" content="O Colabre é um serviço online gratuito para divulgação e busca de oportunidades de trabalho e profissionais. Seu diferencial inclui gráficos e métricas para que possa analisar suas vagas e currículo em comparação com outros do mesmo segmento." />
	<meta property="og:type" content="website" />
	<meta property="og:url " content="https://www.colabre.org/" />
	<meta property="og:image" content="https://www.colabre.org/static/img/og-logo-200x200.png" />
	<meta property="og:locale" content="pt_BR" />

	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />

	<!-- jquery 1.7.2 + jquery tools  -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>
	<!-- /jquery 1.7.2 + jquery tools  -->


	<!-- jquery ui -->
	<link href="{{ STATIC_URL }}jquery-ui/css/colabre/jquery-ui-1.8.22.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.22.custom.min.js"></script>
	<!-- /jquery ui -->

	<!-- highcharts -->
	<script type="text/javascript" src="{{ STATIC_URL }}highcharts/highcharts.js"></script>
	<!-- /highcharts -->


	<script type="text/javascript" src="{{ STATIC_URL }}js/colabre.js"></script>

	<!-- sceditor -->
	<link rel="stylesheet" href="{{ STATIC_URL }}sceditor/themes/default.min.css" type="text/css" media="all" />
	<script type="text/javascript" src="{{ STATIC_URL }}sceditor/jquery.sceditor.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}sceditor/languages/pt-BR.js"></script>
	<!-- /sceditor -->

	<link href="{{ STATIC_URL }}css/colabre.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}css/search.css" rel="stylesheet" />
	<!--[if IE]>
		<link href="{{ STATIC_URL }}css/ie.css" rel="stylesheet" />
	<![endif]-->
	<!--[if IE]>
		<link href="{{ STATIC_URL }}css/ie.css" rel="stylesheet" />
	<![endif]-->
	<!--[if IE 7]>
		<link href="{{ STATIC_URL }}css/ie7.css" rel="stylesheet" />
	<![endif]-->
	{% block extra_head %}{% endblock %}
	<link href="{{ STATIC_URL }}css/fx.css" rel="stylesheet" />
</head>
<body>
{% block menu %}{% include "_menu.html" %}{% endblock menu %}
{% block feedback %}{% include "_feedback.html" %}{% endblock %}
<div id="content">
	{% include "_message.html" %}
	{% block body %}{% endblock body %}
</div>
{% include "_footer.html" %}
</body>
</html>
