{% load url from future %}
<div id="feedback-open"
	class="feedback feedback-toggler"
	style="
		text-align: left;
		z-index: 99999;
		font-size: 80%;
		padding: 8px;
		position: fixed;
		top: 20%;
		right: 10px;
		width: auto;
		border: 1px solid #ddd;
		background: #eee;
		cursor: pointer;
		-moz-box-shadow: 0 0 10px #ccc;
		-webkit-box-shadow: 0 0 10px #ccc;

		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;

		">
	Feedback <b>[ + ]</b>
</div>

<div id="feedback-form"
	class="feedback"
	style="
		display: none;
		text-align: left;
		z-index: 99999;
		font-size: 80%;
		padding: 10px;
		position: fixed;
		top: 20%;
		right: 10px;
		width: 250px;
		border: 1px solid #ddd;
		background: #eee;
		-moz-box-shadow: 0 0 10px #ccc;
		-webkit-box-shadow: 0 0 10px #ccc;

		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;

		">
	<div class="feedback-toggler" style="font-size: 100%; position: absolute; top: 5px; right: 5px; font-weight: bold; cursor: pointer;">[ &#x2212; ]</div>
	<h2 style="margin-top: 0;">Feedback</h2>
	<div id="feedback-content">
		<p>O Colabre está em fase beta e seu feedback é muito importante para nós.</p>
		<textarea id="message" rows="10" cols="32" style="overflow: auto; width: 245px; margin-bottom: 10px;"> </textarea>
		<input id="send-feedback" class="btn btn-info" type="button" value="enviar" />
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$(".feedback-toggler").click(function(){
			$(".feedback").toggle();
		});

		$("#send-feedback").click(function(){
			$.ajax({
				url: '{% url 'generic_partial_send_feedback' %}',
				type: 'post',
				data: {
					message: $("#message").val(),
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success: function(data)
				{
					$("#feedback-content").html("<p>" + data + "</p>");
				},
				error: function(data)
				{
					$("#feedback-content").html("<p>" + data + "</p>");
				}
			});
		});
	});
</script>