{% load url from future %}
<div id="footer">
	&copy; 2012 Colabre - Todos os direitos reservados. 
	<a href="/legal/#politica">política de privacidade</a> | <a href="/legal/#termos">termos de uso</a>
	{% if not user.is_authenticated %}
	| <a href="{% url 'registration_index' %}">cadastre-se</a>
	| <a href="{% url 'login' %}">login</a>
	| <a href="{% url 'socialauth_begin' backend='linkedin' %}">login com LinkedIn</a>
	| <a href="{% url 'socialauth_begin' backend='twitter' %}">login com Twitter</a>
	{% endif %}

	

</div>