{# Include the hidden fields #}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
{# Include the visible fields #}
{% for field in form.visible_fields %}
	<div class="control-group{% if field.errors %} error{% endif %}">
		<label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
			{{ field }}
			<span class="help-block">
			{% if field.errors %}
				{{ field.errors|striptags }}
			{% else %}
				{{ field.help_text }}
			{% endif %}
			</span>
		</div>
	</div>
{% endfor %}
