{% extends "_base.html" %}
{% load bbcode %}
{% block title %}Início{% endblock %}

{% block body %}

<div style="text-align: center; margin: 30px 0 20px 0;">
	<img src="{{ STATIC_URL }}img/banner.png" alt="banner Colabre">
</div>

<form action="/vagas/buscar/" id="form-search" method="post" style="text-align: center">
<div style="margin: 0 auto; border: 0px solid red; width: 80%;">
	{% csrf_token %}	
	<input type="text" id="q" name="q" style="width: 100%; font-size: 150%;" />
	<div style="text-align: center; margin-top: 15px;">
		<input type="submit" value="buscar vagas" class="btn-info" action="/vagas/buscar/" style="display: inline; margin-right: 20px;" /> 
		<input type="submit" value="buscar currículos" class="btn-info" action="/curriculos/buscar/" style="display: inline;" /> 
	</div>
</div>	
</form>

<script type="text/javascript">
	$(function() {
		$("#q").focus();
		$("[type=submit]").click(function(){
			$("#form-search").attr("action", $(this).attr("action"));
		});
	});
</script>


<!--{{ "[big]Título[/big][b]Test[/b]"|bbcode|safe }}-->

{% endblock body %}