{% extends "_base.html" %}
{% load truncatesmart %}
{% block title %}Minhas vagas{% endblock %}
{% block extra_head %}
<style type="text/css">
	.job
	{
		color: #888;
		font-size: 95%;
		border: 1px solid red;
		padding: 10px;
		margin-bottom: 10px;
	}
	.job p
	{
		white-space: pre-line;
		border: 1px solid #ccc;
		border-left: none;
		border-right: none;
		padding: 10px;
		font-size: 90%;
	}
</style>
{% endblock %}

{% block body %}
	<h1>Vagas</h1>
	
	<div id="jobs" style="overflow: auto;">
		{% for job in jobs %}
			<div class="job">
				<h3>{{ job.title }}</h3>
				<p>{{ job.description|truncatesmart:50 }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
