{% extends "_base.html" %}

{% block title %}Perfil{% endblock %}

{% block body %}
	<h1>Perfil</h1>	
	<form action="/usuario/perfil/" method="post">
		
		{% csrf_token %}
		
		<!-- form -->
		{% for field in form.visible_fields %}
		{% if field.html_name != 'password' %}
			<div class="form-row">
				{{ field.label_tag }}
				{{ field }}
				{% if field.html_name == 'email' %}
					{% if not user.get_profile.is_verified %}
			<img src="{{ STATIC_URL }}img/exclamation-icon.png" title="email não verificado" alt="" align="absmiddle" />
			<a href="javascript:;" class="ajax-link small" id="resend-conf-email">reenviar email para confirmação</a>
			<img src="{{ STATIC_URL }}img/ajax-loader-small.gif" id="resend-conf-email-loading" style="display: none;" alt="requisitando..." align="absmiddle" />
			<span class="small" id="resend-conf-email-reply" style="display: none">Email de confirmação enviado!</span>
					{% else %}
			<img src="{{ STATIC_URL }}img/accept-icon.png" title="email verificado" alt="email verificado" align="absmiddle" />
					{% endif %}
				{% endif %}
				<div>
					<small>
					{% if field.errors %}
						<span class="error">{{ field.errors|striptags }}</span>
					{% else %}
						{{ field.help_text }}
					{% endif %}
					</small>
				</div>
		
			</div>
		{% elif field.html_name == 'password' %}
			<div id="password-id" class="form-row">
				{{ field.label_tag }}
				{{ field }} <a style="margin-left: 5px" class="small" href="/usuario/alterar-senha/">alterar senha</a>
				<div>
					<small>
					{% if field.errors %}
						<span class="error">{{ field.errors|striptags }}</span>
					{% else %}
						{{ field.help_text }}
					{% endif %}
					</small>
				</div>
		
			</div>
		{% endif%}
		{% endfor %}
		<!-- /form -->

		<input type="submit" value="salvar" class="btn-info" />
	</form>
	<script type="text/javascript">
		$(function(){
			
			$("#id_birthday").datepicker({
				changeMonth: true,
				changeYear: true
			});
			
			// $("#resend-conf-email").click()
			$("#resend-conf-email").click(function(){
				$.ajax({
					type: 'get',
					url: '/reenviar-email-confirmacao/',
					beforeSend: function()
					{
						$("#resend-conf-email-loading").show();
						$("#resend-conf-email").hide();
					},
					complete: function()
					{
						$("#resend-conf-email-loading").hide();
					},
					success: function(code)
					{
						if (code == '0')
						{
							$("#resend-conf-email-reply").show()
							$("#resend-conf-email-reply").text('Nos desculpe! Fizemos alguma coisa errado. Tente novamente mais tarde, por favor.');
						}
						else
						{
							$("#resend-conf-email-reply").show()
						}
					},
					error: function()
					{
						$("#resend-conf-email-reply").show()
						$("#resend-conf-email-reply").text('Nos desculpe! Fizemos alguma coisa errado. Tente novamente mais tarde, por favor.');
					}
				});
			});
			// end $("#resend-conf-email").click()

		});
	</script>

{% endblock body %}
