{% extends "_base.html" %}
{% load bbcode %}


{% block title %}Meu Currículo{% endblock %}

{% block body %}

	<h1>Meu Currículo</h1>

	<form action="/usuario/curriculo/" method="post">
		{% csrf_token %}
		{% include '_form.html' %}
		<input type="submit" value="salvar" class="btn-info" /> 
	</form>
	
<!--div style="white-space: pre;">{{ user.get_profile.resume.full_description|bbcode|removetags:"script img link"|safe }}</div-->
	
	<script type="text/javascript">
	$(document).ready(function() {
		$("textarea.bbcode").sceditorBBCodePlugin({
			style: "{{ STATIC_URL }}sceditor/jquery.sceditor.default.min.css",
			toolbar: "bold,italic,underline|size|left,center,right,justify|source",
			locale: "pt-BR"
		});
	});
	</script>

{% endblock %}
