{% extends "_base.html" %}
{% block title %}Meu Perfil{% endblock %}
{% block extra_head %}
<style type="text/css">
	ul
	{
		list-style-type: none;
		padding: 0;
		margin-top: 0;
	}
	li label
	{
		font-weight: normal !important;
	}
	#id_birthday_year
	{
		width: 70px !important;
	}
	#id_birthday_month
	{
		width: 110px !important;
	}
	#id_birthday_day
	{
		width: 55px !important;
	}
</style>
{% endblock %}

{% block body %}
	<h1>Perfil	{% if user.get_profile.is_from_oauth %} <img src="{{ STATIC_URL }}img/linkedin-logo-small.png" style="vertical-align: middle;" alt="membro linkedin" />{% endif %}</h1>

	<form action="{% url 'my_profile_index' %}" class="form-horizontal" method="post">
		{% csrf_token %}

		<!-- form -->
		{% for field in form.visible_fields %}
		
		<div class="control-group{% if field.errors %} error{% endif %}">
			<label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
			<div class="controls">
				{{ field }}
				{% if field.html_name == 'password' %}
				<span class="help-inline"><a href="{% url 'my_profile_change_password' %}">alterar senha</a></span>
				{% endif %}
				<span class="help-block">
				{% if field.errors %}
					{{ field.errors|striptags }}
				{% else %}
					{{ field.help_text }}
				{% endif %}
				</span>
				
				{% if field.html_name == 'email' %}
				{% if not user.get_profile.is_verified %}
				<span class="label label-important">
					<i class="icon-exclamation-sign icon-white"></i> 
					Email não verificado.
				</span>
				<a href="javascript:;" class="btn btn-mini btn-info" id="resend-verification-email">reenviar email para confirmação</a>
				<img src="{{ STATIC_URL }}img/ajax-loader-small.gif" id="resend-verification-email-loading" style="display: none;" alt="requisitando..." align="absmiddle" />
				<span class="small" id="resend-verification-email-reply" style="display: none">Email de confirmação enviado!</span>
				{% endif %}
				{% endif %}
				
			</div>
		</div>
		
		{% endfor %}
		<!-- /form -->

		<div class="form-actions">
			<button type="submit" class="btn btn-large btn-primary">salvar</button>
		</div>
		
		<div style="margin: 30px 0 30px 0; overflow: auto;">
			<a href="{% url 'my_profile_confirm_del' %}" class="pull-right btn btn-mini btn-danger pull-right">Cancelar minha conta no Colabre</a>
		</div>
		
	</form>
	<script type="text/javascript">
		$(function(){

			// Autocompletes de país, estado, cidade
			$("#id_city_name").typeahead({
				minLength: 1,
				matcher: function(item)
				{
					return true;
				},
				source: function(request, response)
				{
					$.ajax({
						url: '/auxiliares/parcial/buscar-cidade/',
						data: {
							q : request,
							country : $("#id_country_name").val(),
							region : $("#id_region_name").val(),
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						type: 'post',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});

			$("#id_region_name").typeahead({
				minLength: 1,
				matcher: function(item)
				{
					return true;
				},
				source: function(request, response)
				{
					$.ajax({
						url: '/auxiliares/parcial/buscar-estado/',
						data: {
							q : request,
							country : $("#id_country_name").val(),
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						type: 'post',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});

			$("#id_country_name").typeahead({
				minLength: 1,
				matcher: function(item)
				{
					return true;
				},
				source: function(request, response)
				{
					$.ajax({
						url: '/auxiliares/parcial/buscar-pais/',
						data: {
							q : request,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						type: 'post',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});

			$("#resend-verification-email").click(function(){

				error_message = 'Nos desculpe! Fizemos alguma coisa errado. Tente novamente mais tarde, por favor.';

				$.ajax({
					type: 'get',
					url: '{% url 'my_profile_resend_verification_email' %}',
					beforeSend: function()
					{
						$("#resend-verification-email-loading").show();
						$("#resend-verification-email").hide();
					},
					complete: function()
					{
						$("#resend-verification-email-loading").hide();
					},
					success: function(code)
					{
						if (code != '1')
						{
							$("#resend-verification-email-reply").show()
							$("#resend-verification-email-reply").text(error_message);
						}
						else
						{
							$("#resend-verification-email-reply").show()
						}
					},
					error: function()
					{
						$("#resend-verification-email-reply").show()
						$("#resend-verification-email-reply").text(error_message);
					}
				});
			});
		});
	</script>

{% endblock body %}
