{% extends "_base.html" %}
{% block title %}Cadastro de Vaga{% endblock %}
{% block body %}
	<h1>Cadastro de Vaga</h1>

	<form action="{{ action }}" class="form-horizontal" method="post">
		{% csrf_token %}
		{% include '_form.html' %}

		{% if user.is_anonymous %}
		<div class="alert">
			Ao clicar em "Salvar" ou submeter este formulário de outra forma, você declara que leu e entendeu nossa
			<a href="/legal/#politica">política de privacidade</a> e <a href="/legal/#termos">termos de uso</a>.
		</div>
		{% endif %}

		<div class="form-actions">
			<button type="submit" class="btn btn-large btn-primary">Salvar</button>
		</div>

	</form>
	<script type="text/javascript">
		$(function() {

			$("#id_job_title_name").typeahead({
				minLength: 1,
				matcher: function(item)
				{
					return true;
				},
				source: function(request, response)
				{
					$.ajax({
						url: '/auxiliares/parcial/buscar-cargo/',
						data: {
							q : request,
							segment : $("#id_segment_name").val(),
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						type: 'post',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});

			$("#id_segment_name").typeahead({
				minLength: 1,
				matcher: function(item)
				{
					return true;
				},
				source: function(request, response)
				{
					$.ajax({
						url: '/auxiliares/parcial/buscar-segmento/',
						data : {
							q : request,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						type: 'post',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});

			// Autocompletes de país, estado, cidade
			$("#id_city_name").typeahead({
				minLength: 1,
				matcher: function(item)
				{
					return true;
				},
				source: function(request, response)
				{
					$.ajax({
						url: '/auxiliares/parcial/buscar-cidade/',
						data: {
							q : request,
							country : $("#id_country_name").val(),
							region : $("#id_region_name").val(),
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						type: 'post',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});

			$("#id_region_name").typeahead({
				minLength: 1,
				matcher: function(item)
				{
					return true;
				},
				source: function(request, response)
				{
					$.ajax({
						url: '/auxiliares/parcial/buscar-estado/',
						data: {
							q : request,
							country : $("#id_country_name").val(),
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						type: 'post',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});

			$("#id_country_name").typeahead({
				minLength: 1,
				matcher: function(item)
				{
					return true;
				},
				source: function(request, response)
				{
					$.ajax({
						url: '/auxiliares/parcial/buscar-pais/',
						data: {
							q : request,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						type: 'post',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});


			$("#id_company_name").typeahead({
				minLength: 1,
				matcher: function(item)
				{
					return true;
				},
				source: function(request, response)
				{
					$.ajax({
						url: '/auxiliares/parcial/buscar-empresa/',
						data: {
							q : request,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						type: 'post',
						success: function(data)
						{
							response($.map(data, function(item)
							{
								return item.fields['name'];
							}));
						}
					});
				}
			});
		});
    </script>
{% endblock %}
