{% extends "_base.html" %}

{% block content %}
<form action="/vagas/busca/resultado/" method="post">
	<div class="search-form">
		
		<select id="state" class="chosen" style="width: 80px">
			{% for state in states %}
				<option value="{{ state.abbreviation }}">{{ state.abbreviation }}</option>
			{% endfor %}
		</select>
		
		<br /><br />
		
		<select id="city" class="chosen" multiple="multiple" style="width: 300px; height: 40px;">
			{% for state in states %}
				<option value="{{ state.abbreviation }}">{{ state.abbreviation }}</option>
			{% endfor %}
		</select>
		
		
		<input label="localização..." type="text" name="location" id="location" class="search-onclick disable-in-request" />
		<input label="palavras chave..." type="text" name="term" id="term" class="search-onclick disable-in-request" style="width: 500px;" /-->
		
		
		<input label="cidade..." type="text" id="city" class="search-onclick disable-in-request" style="width: 300px;" />
		
		{% csrf_token %}
		
		<input type="submit" value="ok" />
	</div>
</form>
	<div id="result-search"><i>Faça sua busca no formulário acima.</i></div>
	
	<script type="text/javascript">
		$(function(){
		
			$(".chosen").chosen();
		
			var options = { 
				target:        '#result-search'   // target element(s) to be updated with server response 
				//beforeSubmit:  showRequest,  // pre-submit callback 
				//success:       showResponse  // post-submit callback 
		 
				// other available options: 
				//url:       url         // override for form's 'action' attribute 
				//type:      type        // 'get' or 'post', override for form's 'method' attribute 
				//dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
				//clearForm: true        // clear all form fields after successful submit 
				//resetForm: true        // reset the form after successful submit 
		 
				// $.ajax options can be used here too, for example: 
				//timeout:   3000 
			}; 
 
			// bind form using 'ajaxForm' 
			$('form').ajaxForm(options); 
		
		
			var search = function()
			{
				$("#result-search").fadeTo(1, .1);
				
				$.ajax({
					url: '/vagas/busca/resultado/',
					type: 'post',
					contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
					data: {
						term : $("#term").val(),
						location : $("#location").val(),
						csrfmiddlewaretoken : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: function(result)
					{
						$("#result-search").html(result);
						$("#result-search").fadeTo(200, 1);
					}
				});
			};
			
			
			
			$('.search-onclick').keydown(function (e){
				if(e.keyCode == 13)
				{
					search();
				}
			});
			
			state_val = $("#state").val();
			
			$("#state").change(function(){
				state_val = $(this).val();
				$("#city").val($("#city").attr('label'));
			});
			
			$("#location").autocomplete({
				minLength: 3,
				source: function(request, response)
				{
					$.ajax({
						global: false,
						url: '/cidades/sugestoes/',
						type: 'get',
						data: {
							term: $("#location").val()
						},
						success: function(data){
							response($.map(data, function(item) {
								return {
									label: item[0],
									value: item[0]
								};
							}));
						}
					});
				}
			});
			
			$("#term").autocomplete({
				select: function(event, ui)
				{
					search();
				},
				minLength: 3,
				source: function(request, response)
				{
					$.ajax({
						global: false,
						url: '/vagas/titulos/sugestoes',
						method: 'get',
						data: {
							termo: $("#term").val()
						},
						success: function(data){
							response($.map(data, function(item) {
								return {
									label: item[0],
									value: item[0]
								};
							}));
						}
					});
				}
			});
		});
	</script>

{% endblock %}
