{% extends "_base.html" %}
{% load url from future %}
{% block title %}Início{% endblock %}
{% block extra_head %}
	<link href="{{ STATIC_URL }}css/home.css" rel="stylesheet">
{% endblock %}
{% block menu %}{% endblock menu %}
{% block body %}

<div class="upper-menu pull-right">	
	{% include "_inst-menu-links.html" %}
</div>

<div class="home-wrapper">
	
	<img class="logo" src="{{ STATIC_URL }}img/logo-home.png" alt="" />
	
	<form action="{% url 'jobs_index' %}" method="get" class="home-search">
		<div class="input-append home-search-wrapper">
			<input 
				name="q" 
				type="text" 
				placeholder="Digite sua busca. Exemplo: são paulo analista de sistemas" 
				value="{{ initial_query }}" 
				class="span6 home-search-text-input" 
				id="search-term">
			<button id="btn-search" type="submit" class="btn btn-search home-search-button">
				<span class="visible-phone">Buscar</span>
				<span class="hidden-phone">Buscar Vagas</span>
			</button>
		</div>
	</form>
	
	<div class="under-search-menu">
		<a href="{% url 'jobs_create' %}" class="">Publicar uma vaga</a>
	</div>
</div>
{% endblock body %}