{% extends '_base.html' %}

{% block title %}Política de Privacidade e Termos de Uso{% endblock %}
{% block extra_head %}
<style type="text/css">
	p { white-space: pre; width: 500px; font-family: 'Courier New', serif; }
</style>
{% endblock %}
{% block body %}
<a name="politica" style="display: block; height: 45px">&nbsp;</a>
<h1>Política de Privacidade</h1>

<p>A privacidade dos visitantes no Colabre é muito importante para nós. Em
nosso serviço virtual, reconhecemos a importância da privacidade e
faremos de tudo para respeitá-la. A seguir apresentamos o tipo de
informação pessoal que recebemos e coletamos quando você visita este
serviço, e também o modo como guardamos essas informações. Nunca
venderemos suas informações para terceiros, sejam eles particulares ou
empresas.

Os registros:
Tal como outros websites, coletamos e utilizamos informações contidas
nos registros. Essas informações incluem o seu endereço IP (Internet
Protocol), o browser que utilizou ao visitar o nosso serviço (ex:
Firefox), o tempo da sua visita e quais páginas visitou dentro do nosso
website.

Os Cookies e Web Beacons:
Utilizamos cookies para armazenar informações quando você visita o
nosso website, tais como as suas preferências pessoais. O Google faz
uso do novo DART cookie para fornecer anúncios baseados nos seus
interesses e na sua visita ao nosso serviço e a outros endereços na
web. Poderá optar por não utilizar o DART cookie visitando a página de
anúncios do Google e o "programa de policiamento" da empresa.

Além disso, em nosso site também utilizamos publicidade de terceiros.
Alguns destes anúncios (sponsors) poderão utilizar tecnologias como
cookies e/ou web beacons quando anunciam em nosso website, o que fará
com que esses anunciantes (tal como o Google através do Google AdSense)
também recebam a sua informação pessoal, como o seu ISP , o endereço
IP, o seu browser, entre outros. Esta função é geralmente utilizada
para "geotargeting" (ex: mostrar publicidade de São Paulo apenas aos
leitores oriundos de São Paulo) ou para apresentar publicidade
direcionada a um tipo de utilizador (ex: mostrar publicidade de
restaurantes/bares a um utilizador que visita regularmente portais de
culinária/bebidas).

Você pode desligar os seus cookies nas opções do seu browser ou fazendo
alterações nas ferramentas do seu Antivírus. Gostaríamos de lhe
informar que tal procedimento poderá alterar a forma como interage com
o nosso serviço virtual, ou mesmo com outros portais.</p>

<a name="termos" style="display: block; height: 45px">&nbsp;</a>
<h1>Termos de Uso</h1>

<p>Termos de Serviço do Colabre
Última modificação: 14 de maio de 2013

Bem-vindo ao Colabre!

Agradecemos por usar nossos produtos e serviços (“Serviços”). Os
Serviços serão fornecidos pelo Colabre, localizado à Rua Chicago, nº
100 - Cotia - SP - Brasil, CEP: 06710-590.

Ao usar nossos Serviços, você está concordando com estes termos.
Leia-os com atenção.

Nossos Serviços são muito diversos, portanto ocasionalmente podem
aplicar-se termos adicionais ou exigências de produtos (inclusive
exigências de idade).
Os termos adicionais estarão disponíveis juntamente aos Serviços
relevantes e se tornarão parte de nosso contrato com você, caso utilize
tais Serviços.

Como usar nossos Serviços

É preciso que você siga as políticas disponibilizadas a você dentro dos
Serviços.

Não faça uso indevido de nossos Serviços. Por exemplo, não interfira em
nossos Serviços nem tente acessá-los por um método diferente da
interface e das instruções que fornecemos. Você pode usar nossos
serviços somente conforme permitido por lei, inclusive leis e
regulamentos de controle de exportação e reexportação. Podemos
suspender ou deixar de fornecer nossos Serviços se você descumprir
nossos termos ou políticas ou se estivermos investigando casos de
suspeita de má conduta.

O uso de nossos Serviços não lhe concede direitos de propriedade
intelectual sobre nossos Serviços ou sobre o conteúdo que você acessar.
Você não pode usar conteúdos de nossos Serviços a menos que obtenha
permissão do proprietário dos mesmos ou que o faça por algum meio
permitido por lei. Estes termos não conferem a você o direito de usar
quaisquer marcas ou logotipos utilizados em nossos Serviços. Não
remova, oculte ou altere quaisquer avisos legais exibidos em ou junto a
nossos Serviços.

Nossos Serviços exibem alguns conteúdos que não pertencem ao Colabre.
Esses conteúdos são de exclusiva responsabilidade da entidade que os
disponibiliza. Podemos revisar conteúdo para determinar se algo é
ilegal ou infringe nossas políticas, e podemos remover ou nos recusar a
exibir conteúdos que acreditamos violar nossas políticas ou a lei. Mas
isso não significa, necessariamente, que revisaremos conteúdos,
portanto não presuma que o faremos.

Complementarmente ao seu uso dos Serviços, podemos enviar-lhe anúncios
de serviços, mensagens administrativas e outras informações. Você pode
desativar algumas dessas comunicações.

Sua Conta do Colabre

É possível que você precise criar uma Conta do Colabre para utilizar
alguns de nossos Serviços. Se você estiver usando uma Conta do Colabre
atribuída a você por um administrador, termos diferentes ou adicionais
podem ser aplicados, e seu administrador poderá ser capaz de acessar ou
desativar sua conta.
Caso tenha conhecimento de qualquer uso não autorizado de sua senha ou
conta, siga estas instruções.

Proteção à Privacidade e aos Direitos Autorais

As Políticas de Privacidade do Colabre explicam o modo como tratamos
seus dados pessoais e protegemos sua privacidade quando você usa nossos
Serviços. Ao utilizar nossos Serviços, você concorda que o Colabre
poderá usar esses dados de acordo com nossas políticas de privacidade.

Nós respondemos às notificações de alegação de violação de direitos
autorais e encerramos contas de infratores reincidentes de acordo com
critérios da equipe do Colabre.

Fornecemos informações para ajudar os detentores de direitos autorais a
gerenciar sua propriedade intelectual on-line. Caso você entenda que
alguém está violando seus direitos autorais e quiser nos notificar,
você pode nos contatar por e-mail (contato@colabre.org).

Seu Conteúdo em nossos Serviços

Alguns de nossos Serviços permitem que você envie conteúdo. Você mantém
a propriedade de quaisquer direitos de propriedade intelectual que
detenha sobre aquele conteúdo. Em resumo, aquilo que pertence a você
permanece com você.
Quando você faz upload ou de algum modo envia conteúdo a nossos
Serviços, você concede ao Colabre (e àqueles com quem trabalhamos) uma
licença mundial para usar, hospedar, armazenar, reproduzir, modificar,
criar obras derivadas (como aquelas resultantes de traduções,
adaptações ou outras alterações que fazemos para que seu conteúdo
funcione melhor com nossos Serviços), comunicar, publicar, executar e
exibir publicamente e distribuir tal conteúdo. Os direitos que você
concede nesta licença são para os fins restritos de operação, promoção
e melhoria de nossos Serviços atuais e desenvolvimento de novos
Serviços. Essa licença perdura mesmo que você deixe de usar nossos
Serviços.
Alguns Serviços podem oferecer-lhe modos de acessar e remover conteúdos
que foram fornecidos para aquele Serviço. Além disso, em alguns de
nossos Serviços, existem termos ou configurações que restringem o
escopo da utilização que faremos do conteúdo enviado nesses Serviços.
Certifique-se de que você tem os direitos necessários para nos conceder
a licença de qualquer conteúdo que você enviar a nossos Serviços.

Você pode encontrar mais informações sobre como o Colabre usa e
armazena conteúdo na política de privacidade ou em termos adicionais de
Serviços específicos. Se você enviar comentários ou sugestões sobre
nossos Serviços, podemos utilizá-los sem obrigação a você.

Como modificar e cancelar nossos Serviços

Estamos constantemente alterando e melhorando nossos Serviços. Podemos
incluir ou remover funcionalidades ou recursos e podemos também
suspender ou encerrar um Serviço por completo.

Você pode deixar de usar nossos Serviços a qualquer momento, embora
fiquemos chateados ao ver você ir embora. O Colabre também poderá
deixar de prestar os Serviços a você, ou incluir ou criar novos limites
a nossos Serviços a qualquer momento.

Acreditamos que você seja o proprietário dos seus dados e que é
importante preservar seu acesso a esses dados. Se descontinuarmos um
Serviço, sempre que possível você será informado com antecedência
razoável e terá a chance de retirar as suas informações daquele Serviço.

Nossas Garantias e Isenções de Responsabilidade

Fornecemos nossos Serviços usando um nível comercialmente razoável de
capacidade e cuidado e esperamos que você aproveite seu uso deles. Mas
existem algumas coisas que não prometemos sobre nossos Serviços.

EXCETO QUANDO EXPRESSAMENTE PREVISTO NESTES TERMOS OU EM TERMOS
ADICIONAIS, NEM O COLABRE, NEM SEUS FORNECEDORES OU DISTRIBUIDORES
OFERECEM QUAISQUER GARANTIAS SOBRE OS SERVIÇOS. POR EXEMPLO, NÃO NOS
RESPONSABILIZAMOS PELOS CONTEÚDOS NOS SERVIÇOS, POR FUNCIONALIDADES
ESPECÍFICAS DO SERVIÇO, OU PELA CONFIABILIDADE, DISPONIBILIDADE OU
CAPACIDADE DE ATENDER ÀS SUAS NECESSIDADES. FORNECEMOS OS SERVIÇOS “NA
FORMA EM QUE ESTÃO”.

CERTAS JURISDIÇÕES PREVÊEM DETERMINADAS GARANTIAS, COMO A GARANTIA DE
COMERCIABILIDADE IMPLÍCITA, ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA E NÃO
VIOLAÇÃO. NA MEDIDA PERMITIDA POR LEI, EXCLUÍMOS TODAS AS GARANTIAS.

Responsabilidade pelos nossos Serviços

QUANDO PERMITIDO POR LEI, O COLABRE E OS FORNECEDORES OU DISTRIBUIDORES
DO COLABRE NÃO SERÃO RESPONSÁVEIS POR PERDA DE LUCROS, PERDA DE
RECEITA, PERDA DE DADOS, PERDAS FINANCEIRAS OU DANOS INDIRETOS,
ESPECIAIS, CONSEQUENCIAIS, EXEMPLARES OU PUNITIVOS.

NA MEDIDA PERMITIDA POR LEI, A RESPONSABILIDADE TOTAL DO COLABRE E DE
SEUS FORNECEDORES E DISTRIBUIDORES, PARA QUALQUER RECLAMAÇÃO SOB ESTES
TERMOS, INCLUINDO QUAISQUER GARANTIAS IMPLÍCITAS, LIMITA-SE AO VALOR
QUE VOCÊ PAGOU AO COLABRE PARA USAR OS SERVIÇOS (OU, A NOSSO CRITÉRIO,
PARA FORNECER A VOCÊ OS SERVIÇOS NOVAMENTE).

EM TODOS OS CASOS, O COLABRE E SEUS FORNECEDORES E DISTRIBUIDORES NÃO
SERÃO RESPONSÁVEIS POR QUALQUER PERDA OU DANO QUE NÃO SEJA
RAZOAVELMENTE PREVISÍVEL.

Usos comerciais de nossos Serviços

Se você estiver usando nossos Serviços em nome de uma empresa, tal
empresa aceita estes termos. Ela isentará de responsabilidade e
indenizará o Colabre e suas afiliadas, executivos, agentes e
trabalhadores de qualquer reivindicação, processo ou ação judicial
proveniente de ou relacionado ao uso dos Serviços ou à violação destes
termos, incluindo qualquer responsabilidade ou despesa resultante de
reivindicações, perdas, danos, processos, julgamentos, custos de
litígio e honorários advocatícios.

Sobre estes Termos

Podemos modificar estes termos ou quaisquer termos adicionais que sejam
aplicáveis a um Serviço para, por exemplo, refletir alterações da lei
ou mudanças em nossos Serviços. Você deve consultar os termos
regularmente.
Postaremos avisos sobre modificações nesses termos nesta página.
Publicaremos um aviso de alteração sobre os termos adicionais dentro do
Serviço aplicável.
As alterações não serão aplicadas retroativamente e entrarão em vigor
pelo menos quatorze dias após sua publicação. Entretanto, alterações a
respeito de novas funcionalidades de um Serviço ou alterações feitas
por razões legais entrarão em vigor imediatamente. Se você não
concordar com os termos alterados de um Serviço, deve descontinuar o
uso desse Serviço.

Em caso de conflito entre estes termos e os termos adicionais, os
termos adicionais prevalecerão.

Estes termos regem a relação entre o Colabre e você. Eles não criam
quaisquer direitos para terceiros.

Caso você não cumpra estes termos e nós não tomemos providências
imediatas, isso não significa que estamos renunciando a quaisquer
direitos que possamos ter (como tomar providências futuras).

Caso uma condição específica destes termos não seja executável, isso
não prejudicará quaisquer outros termos.

Os Termos de Uso foram elaborados com base nos Termos de Uso do Google.</p>

{% endblock body %}





